:root{
    --wga-blue: #003366;
    --wga-light-blue: #f0f6ff;
    --wga-green: #489393;
    --wga-light-green: #99cccc;
    --wga-orange: #ff6600;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,body{
    background-color: black;
    max-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

.header{
    background-image: url(/img/header.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50px;
    z-index: 100;
    transition: all 0.5s;
}

.nav{
    position: fixed;
    flex-direction: column;
    padding: 10px;
    left: 0px;
    top: 50px;
    max-height: calc(100% - 50px);
    height:calc(100% - 50px);
    width: 12.5%;
    max-width: 12.5%;
    min-width: fit-content;
    overflow-y: auto;
    z-index: 100;
    transition: all 0.5s;
}

input[type="checkbox"] {
    color: white;
    accent-color: var(--wga-green);
}

.fig{
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 95vh;
    transform: translate(-50%, -50%);
}
#frame{
    max-width: 90vw;
    max-height: 90vh;
    min-height: 90vh;
    object-fit: contain;
    position: relative;
    z-index: 2;
}
#frame-bg{
    max-width: 90vw;
    max-height: 90vh;
    min-height: 90vh;
    object-fit: contain;
    /*//bottom: -30px;!* amount shadow should extend below main image *!*/
    filter: blur(20px);
    height: 100%;
    left: 0;
    position: absolute;
    transform: scale(1.01);
    /*width: 100%;*/
    z-index: 1;
}

.figCaption{
    padding: 0px 5px;
    max-width: fit-content;
    position: relative;
    z-index: 3;
}

.nav-footer{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}


.btn-green{
    background-color: var(--wga-light-green);
    padding: 2.5px;
    border-radius: 1px solid var(--wga-blue);
}
.btn-green:hover{
    background-color: var(--wga-orange);
    color: white;
    cursor: pointer;
}

.w-100{
    width: 100%;
}
.w-screen{
    width: 100vw;
}
.h-screen{
    height: 100vh;
}

.d-none{
    display: none !important;
}
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.fb-100{
    flex-basis: 100%;
}
.item-center{
    align-items: center;
    justify-content: center;
}

.m-auto{
    margin: 0px auto;
}
.mt-1{
    margin-top: 10px;
}
.mt-2{
    margin-top: 20px;
}
.mt-3{
    margin-top: 30px;
}
.mt-4{
    margin-top: 40px;
}
.mt-5{
    margin-top: 50px;
}

.color-white{
    color: white;
}
.text-center{
    text-align: center;
}
.font-arial{
    font-family: Arial, Helvetica, sans-serif;
}
.fw-light{
    font-weight: 300;
}

.bg-black{
    background-color: black;
}
.bg-light-green{
    background-color: var(--wga-light-green);
}
.bg-wga-blue{
    background-color: var(--wga-blue);
}
.border-green{
    border: 2px solid var(--wga-green);
}