.fig{
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 95vh;
    transform: translate(-50%, -50%);
}
.fig img{
    max-width: 90vw;
    max-height: 90vh;
    min-height: 90vh;
    object-fit: contain;
}
.figCaption{
    color: white;
}